In [3]:
import pandas as pd
data =pd.read_csv("Student-University.csv", index_col=False, header=None)
data.head()

           0          1  2
0  34.623660  78.024693  0
1  30.286711  43.894998  0
2  35.847409  72.902198  0
3  60.182599  86.308552  1
4  79.032736  75.344376  1

In [4]:
X = data.iloc[:,0:2]
X.head()

           0          1
0  34.623660  78.024693
1  30.286711  43.894998
2  35.847409  72.902198
3  60.182599  86.308552
4  79.032736  75.344376

In [5]:
Y = data.iloc[:,2]
Y.head()

0    0
1    0
2    0
3    1
4    1
Name: 2, dtype: int64

In [8]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2)

In [17]:
x_train = pd.DataFrame(x_train)
x_test = pd.DataFrame(x_test)

In [18]:
x1 = x_train[0].values
x2 = x_train[1].values

In [20]:
import numpy as np
y_train = np.array(y_train)

In [22]:
b0=0
b1=0
b2=0

In [23]:
for i in range(0,15000):
    for j in range(0,80):
        yprd = b0+b1*x1[j]+b2*x2[j]
        pred = 1/(1+np.exp(-yprd))
        b0=b0+(0.01)*(y_train[j]-pred)*pred*(1-pred)*1
        b1=b1+(0.01)*(y_train[j]-pred)*pred*(1-pred)*x1[j]
        b2=b1+(0.01)*(y_train[j]-pred)*pred*(1-pred)*x2[j]

In [25]:
print(b0,b1,b2)

12.857656605818732 16.834146365971147 16.834146365971147

In [27]:
X_test_1 =  x_test[0].values
X_test_2 =  x_test[1].values

In [29]:
yprd_test = b0+b1*X_test_1+b2*X_test_2
pred = 1/(1+np.exp(-yprd_test))

In [30]:
pred

array([9.96784296e-01, 1.02710582e-07, 1.63499656e-01, 9.99771263e-01,
       9.83509333e-01, 1.00000000e+00, 9.85145196e-05, 9.99999692e-01,
       2.53506622e-17, 9.97578830e-01, 3.37070559e-14, 9.99998363e-01,
       9.97208095e-01, 9.99999997e-01, 9.99999664e-01, 9.05357859e-06,
       1.00000000e+00, 9.57180577e-01, 9.99992320e-01, 1.00000000e+00])

In [31]:
pred = np.round(pred)

In [32]:
pred

array([1., 0., 0., 1., 1., 1., 0., 1., 0., 1., 0., 1., 1., 1., 1., 0., 1.,
       1., 1., 1.])

In [33]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,pred))

0.8